html,body,#app{
    height: 100%;
    margin: 0;
    padding: 0;
    min-width: 1366px;
}
img{
    width: 100%;
}
.el-card{
    box-shadow: 0 1px 1px rgba(0,0,0,0.15)!important;
}
.el-table{
    margin-top: 25px;
}